
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">About Smart bazaar</h3>
        <div class="about-text">
            <p>
                We are here to serve you 24/7 to entertain your desires, to bring you most recent and newest brands from all over the world...
            </p>
            <div class="col-md-3 ftr-top-left about-text-grids">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                <h4>10 Million+ <br>Products</h4>
            </div>
            <div class="col-md-3 ftr-top-left about-text-grids">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h4>50,000 <br> Sellers </h4>
            </div>
            <div class="col-md-3 ftr-top-left about-text-grids">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                <h4>5 Million <br>Shipments</h4>
            </div>
            <div class="col-md-3 ftr-top-left about-text-grids">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <h4>4000+ <br>Cities</h4>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="history">
            <h3 class="w3ls-title w3ls-title1">Our Mission</h3>
            <p>
                Our Mission is to promote technology of Online.. To encourage
            </p>
        </div>
    </div>
</div>



