
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="privacy">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Privacy Policy</h3>
        <div class="privacy-w3row">
            <p>Using pictures as a spam is strictly prohibited. The pictures are just used to promote the products exists in the smart bazar copying and using in another website are prohibited.</p>
            <p>First Delivery is free and after any delivery delivery charges increases by 10%... </p>
            <p>The discounts on products are limited just as the annoucement. </p>
            <p>If there is any tragedy you can report in our website for further actions or you can directly contact to our admin in case of order not recieved. </p>
            <h5>What Does Our Privacy Policy Include?</h5>
            <p>Selling our items to any where else is strictly prohibited. </p>
            <p>.Why we need your information?</p>
            <p>For sending products on your exact location requires authentic information</p>
            <h5>How Do We Use Your Personal Information?</h5>
            <p>We does not use your personal information to regulate any where else. Phasellus posuere egestas tortor a molestie. Nulla sed urna dignissim, maximus magna et, elementum metus. Ut dolor lorem, mattis eu consectetur non, euismod quis nulla. </p>
        </div>
    </div>
</div>

